<a ng-click="returnToHome()">
	Return to individual legislator view
</a>
<div>
	A comprehensive report of reproductive justice related bills in 2014
</div>
<a href="{{downloadURL}}" target="_blan">Download Report as CSV</a>
<a href="{{downloadURLPDF}}" target="_blan">Download Report as PDF</a>

<div ng-if="!loading">
	<table class="voting-records">
		<tr>
			<td>
				Assemblymember
			</td>
			<td>
				Party
			</td>
			<td>
				District
			</td>
			<td ng-repeat="bill in bills">
				{{bill.billType}} {{bill.billNumber}}
			</td>
		</tr>
		<tr ng-repeat="legislatorWithVote in legislatorsWithVotes">
			<td>
				{{legislatorWithVote.legislator.first_name}} {{legislatorWithVote.legislator.last_name}}
			</td>
			<td>
				{{legislatorWithVote.legislator.party | formatParty}}
			</td>
			<td>
				{{legislatorWithVote.legislator.district}}
			</td>
			<td ng-repeat="vote in legislatorWithVote.votes">
				<format-vote vote=vote>
				</format-vote>
			</td>
		</tr>

	</table>
</div>
<div ng-if="loading" class="loading">
	<i class="fa fa-6 fa-refresh fa-spin"> </i>
 </div>