@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome';
.loading {
	font-size: 128px;
	text-align:center;
}
.votes-legislator {
	border: 1px solid black;
	padding: 10px;
	margin: 10px 0px 10px 0px;
}
.legislator-search {
	.legislator {
		> div {
			display:inline-block;
		}
	}
}
.search-name {
	width:50%;
}
.search-descriptor {
	width:30%;
}
.searchbar {
	> div {
		border: 1px solid black;
		background-color: red;
		padding: 10px;
		margin: 10px 0px 10px 0px;
	}
}
.vote {
	text-align:center;
}
.positive-vote {
	color: green;
}
.negative-vote {
	color: red;
}
.absent-vote {
	color:yellow;
}
.null-vote {
	color: gray;
}
.voting-records {
	border: 1px solid black;
}
 .voting-records td {
 	border: 1px solid black;
 }

.legislator {
	width: 100%;
	border: 1px solid black;
	margin: 5px;
}
.legislator:hover {
	background-color: green;
}
.legislator .selected{
	background-color: green;
}

.legislator-search {
	overflow-y: scroll;
	max-height: 200px;
}